@import "variables";
/* Index */

.tituloContenido{
    @include titulos(#333, 140px 0px 40px 0px); 
}


.parrafoContenido{
    color:  $letraColor;
    font-size: $tamaño;
    margin-bottom: 20px;
}

.datoCurioso{
    color:  $letraColor;
    font-size: $tamaño;

}

.listaCurioso{
    color:  $letraColor;
    font-size: $tamañoDos;
}