/* Index */

.tituloContenido{
    color: #333;
    font-size: 1.6rem;
    margin: 120px 0px 20px 0px;
}

.parrafoContenido{
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.datoCurioso{
    color: #333;
    font-size: 1.2rem;
}

.listaCurioso{
    color: #333;
    font-size: 1rem;
}

.losDatos:hover{
    border-bottom: 1px #333 solid;
}