@import "variables";


/* Misiones */

.mainMisiones{
    margin-bottom: 140px;
    .tituloMisiones{
        @include titulos(#333, 140px 0px 0px 0px);
        padding: 8px;
    }

    h2{
        @extend .tituloMisiones;
        margin: 0px 0px 40px 0px;
    }

}

.textoMisiones{
    font-size: $tamaño;
}

.cajaMisiones{
    
    img{
        width: 70%;
        border-radius: 10px;
        border: #333 1px solid;
        object-fit: cover;
    }
        
}