
 /* Punto de ruptura de la barra de navegacion*/
 
$breakpoints:(
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@mixin media($breakpoint ) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
        
}

/* Titulos */

@mixin titulos($color, $margen){
    color: $color;
    margin: $margen;
    font-size: 2rem;
    text-align: center;

    /* REsponsive de los titulos */

    @include media(sm){
        font-size: 2.3rem;
    }

    @include media(md){
        font-size: 2.6rem;
    }

    @include media(lg){
        font-size: 2.8rem;
    }

    @include media(xl){
        font-size: 3rem;
    }
}


/* Tipografia */

$letraColor:#336;
$tamaño: 1.3rem;
$tamañoDos: 1.1rem;

