@import "variables";

.mainVideos{
    margin-bottom: 140px;

    h1{
        @include titulos(#333, 140px 0px 40px 0px);
        padding: 8px;
    }

    h2{
        @extend h1;
    }
}

.video {
    margin-top: 20px;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center;

    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
